.favorites {
    padding: 20px;
}
  
.favorites h1 {
    font-size: 2em;
    line-height: 1.1;
    text-align: center;
}

.favorites-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    gap: 20px;
}

.card-favorite {
    background-color: #1a1a1a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 200px;
    text-align: center;
    padding: 20px;
}

.card-favorite h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.img-piloto {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover; 
    margin-bottom: 10px;
    border: 3px solid #fff;
}

.favorites-container .btn-delete {
    display: block;
    margin: 10px auto 0;
    background-color: #f02e0e;
    padding: 5px 10px;
    font-size: 14px;  
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: auto;        
    height: auto;
}

